html {
  background-color: #1D0132;
  background-image: url("../images/background.png");
  background-position: center;
  font-family: 'Iceberg', cursive;
  height: 100vh; }

title {
  display: none; }

* {
  padding: 0;
  margin: 0;
  display: block;
  list-style: none;
  box-sizing: border-box;
  text-align: center;
  line-height: 250%;
  font-size: 20px;
  color: white; }

#minesweeper {
  height: 540px;
  width: 540px;
  margin: 16.5px auto 0 auto;
  position: relative; }
  @media screen and (max-width: 768px) {
    #minesweeper {
      height: 54vh;
      width: 54vh; } }
  #minesweeper .tile, #minesweeper .flagged, #minesweeper .flipped, #minesweeper .bombed {
    height: 59.75px;
    width: 59.75px;
    float: left;
    position: relative;
    background-color: #104710;
    border: 4px groove #020902;
    box-shadow: inset 2px 2px 2px #37d237; }
    @media screen and (max-width: 768px) {
      #minesweeper .tile, #minesweeper .flagged, #minesweeper .flipped, #minesweeper .bombed {
        height: 6vh;
        width: 6vh;
        line-height: 150%; } }
  #minesweeper .flagged {
    background-color: #CC0107;
    border-color: #800104;
    box-shadow: inset 2px 2px 2px #fe8185; }
  #minesweeper .flipped {
    background-color: #8be58b;
    box-shadow: inset 1px 1px 2px black;
    color: #1D0132; }
  #minesweeper .bombed {
    background-color: #0f0119;
    border-color: #000;
    box-shadow: inset 1px 1px 3px #9105fa; }
    #minesweeper .bombed .fa-bomb {
      color: #CC0107; }
  #minesweeper .won, #minesweeper .lost, #minesweeper .bonus {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2; }
    #minesweeper .won h1, #minesweeper .lost h1, #minesweeper .bonus h1 {
      font-size: 60px;
      text-shadow: 3px 3px 1px black; }
    #minesweeper .won button, #minesweeper .lost button, #minesweeper .bonus button {
      margin: 50% auto 0 auto;
      height: 60px;
      width: 180px;
      font-family: 'Iceberg', cursive;
      font-size: 24px;
      cursor: pointer;
      outline: none;
      border: none;
      background: linear-gradient(#9105fa, black); }
      @media screen and (max-width: 768px) {
        #minesweeper .won button, #minesweeper .lost button, #minesweeper .bonus button {
          margin-top: 35%;
          height: 6vh;
          width: 30vh;
          line-height: 50%; } }
    #minesweeper .won button:hover, #minesweeper .lost button:hover, #minesweeper .bonus button:hover {
      text-shadow: 2px 2px 1px black;
      border: 4px groove black;
      background: linear-gradient(#570396, black); }
  #minesweeper .won {
    background-image: url("../images/balloons.svg"); }
    #minesweeper .won h2 {
      font-size: 48px;
      margin-top: 10%;
      color: #1D0132;
      line-height: 100%;
      text-shadow: 2px 2px 1px white; }
    #minesweeper .won .bonus-button {
      margin-top: 41%; }
  #minesweeper .lost {
    background-image: url("../images/explosion.png"); }
  #minesweeper .bonus {
    background-size: contain;
    background-repeat: no-repeat; }
    #minesweeper .bonus button {
      margin-top: 78%; }

@media screen and (max-width: 768px) {
  .score-header {
    margin-top: 7vh;
    font-size: 7vh; } }

.menu {
  position: absolute;
  display: none;
  height: 80%;
  width: 200%;
  left: -50%;
  top: 10%;
  z-index: 1; }
  .menu i {
    background-color: #cccccc;
    box-shadow: inset 2px 2px 1px white, 1px 1px 1px black;
    width: 50%;
    height: 100%;
    float: left;
    border-radius: 3px; }
  .menu i:first-child {
    border-right: 1px solid #1D0132; }

.fa {
  cursor: pointer;
  margin: auto;
  color: #1D0132;
  line-height: 200%; }
  @media screen and (max-width: 768px) {
    .fa {
      line-height: 125%; } }

.fa:hover {
  text-shadow: 1px 1px 1px black; }

/*# sourceMappingURL=style.css.map */
